<h1>Ultimate Complimenter</h1>

<h2>Submit a compliment!</h2>

<%= form_for(@notification) do |f|%>
<%= f.label :message, f.text_area :message %>
<%= f.label :number, f.text_field :number %>
<%= f.submit %>
<% end %>